.V2018_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.tsbuildinfo
**/*.db
**/*.dbbkp
**/*.xlsx
**/*.exe
**/*.pptx
packages/server/dashboard/
*.lnk
exec/dashboard/
exec/exec.7z
*.7z
packages/client/_morf.json
