.full-height {
  height: 100%;
}

@media print {
  main {
    padding: 0px !important;
  }
  .no-print,
  .no-print * {
    display: none !important;
  }
  .v-application,
  .v-application * {
    font-size: 12px !important;
    line-height: 12px !important;
  }
  .v-application h1 {
    font-size: 14px !important;
    line-height: 14px !important;
  }
  .v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > th,
  .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > td,
  .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > th,
  .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > td,
  .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > th {
    height: 20px !important;
  }

  .narr-table {
    margin-top: 16px;
  }
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.splitpanes__splitter {
  margin: 6px 6px !important;
  background-color: rgb(128, 128, 128);
  opacity: 0.2;
}

.splitpanes--horizontal > .splitpanes__splitter:before {
  top: -6px;
  bottom: -6px;
}

#table-1 text {
  font-size: 1.4em;
}

.no-background {
  background: transparent !important;
}

.v-expansion-panel-header {
  padding: 4px 16px;
  min-height: 40px;
}

.v-expansion-panel-header hr {
  margin: 0px -24px 0px;
}

.v-expansion-panel--active > .v-expansion-panel-header {
  min-height: 40px;
}

.cardcontent {
  border: black solid 1px;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-size: small;
  cursor: pointer;
}

.bold--text {
  font-weight: bold !important;
}

text.shadow {
  stroke: black;
  stroke-width: 4px;
  opacity: 0.8;
}

.splitpanes__pane {
  display: flex;
  justify-content: center;
  align-items: center;
}

.splitpanes__pane > div {
  width: 100%;
  height: 100%;
}

.splitpanes__splitter {
  opacity: 0.5;
}

.day-title {
  color: black !important;
}

.theme--light rect.day {
  fill: #cacaca;
}

.theme--dark rect.day {
  fill: #eaeaea;
}

.theme--light .overline {
  color: rgba(0, 0, 0, 0.87);
}

.theme--dark .overline {
  color: white;
}

rect.event {
  stroke-width: 0.5px;
  stroke: #333333;
}

rect.event.hover {
  stroke-width: 2px;
  stroke: rgb(255, 115, 0);
  cursor: pointer;
}
